body {
    background-color: blanchedalmond;
    width: 70%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 32px;
}

table,
th,
td {
    border: 1px solid black;
}

tr:hover {
    background-color: rgb(194, 149, 190);
}

th {
    text-align: center;
}

caption {
    caption-side: bottom;
    font-style: italic;
    text-align: left;
}

figure {
    float: right;
    margin: 0px 10px 10px 20px;
}

figcaption {
    font-style: italic;
}

span {
    font-size: larger;
    font-weight: bold;
}

p {
    text-indent: 1.5em;
}

div {
    background-color: rgb(253, 225, 164);
    padding-left: 1em;
    padding-right: 1em;
}